<app-navbar></app-navbar>
<div class="container-bg">
    <div class="container align-items-center justify-items-center">
        <div class="bg-light text-center login-container shadow">
            <h2 class="mb-5">Área de acesso</h2>
            <div class="alert alert-danger" id="notificacao" hidden>

            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-person-circle pe-2"></i>Usuário</span>
                <input type="text" class="form-control" placeholder="Usuário" maxlength="20" id="user" name="user" [(ngModel)]="user" required/>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-key-fill pe-2"></i>Senha</span>
                <input type="password" class="form-control" placeholder="Senha" maxlength="16" id="pswd" [(ngModel)]="pswd" required>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-success" (click)="validarUsuario()" type="button">Acessar</button>
            </div>

        </div>
    </div>
</div>
