<footer>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-md-auto">
                <img src="../../../assets/logo-branco-cidadeAcolhedora.png" alt="Logo cidade acolhedora" class="footer-img">
            </div>
            <div class="col-md-auto d-flex flex-column">
                <span style="font-weight: bold;">Cidade acolhedora</span>
                <span>Endereço: Av. Paulita, 230</span>
                <span> Bela Vista | São Paulo - SP</span>
            </div>
            <div class="col-md-auto d-flex flex-column">
                <span style="font-weight: bold;">Contato</span>
                <span>Telefone: (XX) XXXXXX-XXXXX</span>
                <a href="#" class="link">Fale conosco</a>
                <a href="#" class="link">Ouvidoria</a>
            </div>
            <div class="col d-flex flex-column align-items-end">
                <span style="font-weight: bold;">Links Uteis</span>
                <a href="#" class="link">Denúncia</a>
                <a href="#" class="link">Trabalhe conosco</a>
                <a href="#" class="link">Informar um problema</a>
            </div>
        </div>
    </div>
</footer>