<div class="row">
  <div class="col-auto">
    <app-navbar-painel></app-navbar-painel>
  </div>
  <div class="col p-5">
    <h2>Lista de animais para adoção</h2>
    <a href="#" class="btn btn-success my-3" routerLink="cadastro/animal"><i class="bi bi-person-plus-fill pe-2"></i>Cadastrar animal</a>
    <div class="d-flex flex-column">
      <form action="POST" class="row">
        <div class="col">
          <input class="form-control" placeholder="Pesquisar na tabela..." id="filtro" (input)="pesquisarNomeAnimal()">
        </div>
      </form>
      <div class="alert alert-success my-2" *ngIf="msg !== '' && msgStatus === true">{{msg}}</div>
      <div class="alert alert-danger my-2" *ngIf="msg !== '' && msgStatus === false">{{msg}}</div>
      <app-tabela-animal-adocao-usuario [pesquisaNomeAnimal]="nomeAnimal" (outPutMsg)="showMsg($event)"></app-tabela-animal-adocao-usuario>
    </div>
  </div>
</div>
