<div class="row">
  <div class="col-auto">
    <app-navbar-painel></app-navbar-painel>
  </div>
  <div class="col p-5">
    <h2>Lista de animais para adoção</h2>
    <a href="#" class="btn btn-success my-3" routerLink="cadastro/animal"><i class="bi bi-person-plus-fill pe-2"></i>Cadastrar animal</a>
    <div class="d-flex flex-column">
      <form action="POST" class="row">
        <div class="col">
          <input class="form-control" placeholder="Pesquisar..." id="filtro">
        </div>
        <div class="col-auto">
          <button class="btn btn-success" type="submit" (click)="pesquisarNomeAnimal()"><i class="bi bi-search pe-2"></i>Pesquisar</button>
        </div>
      </form>
      <app-tabela-animal-adocao-usuario [pesquisaNomeAnimal]="nomeAnimal"></app-tabela-animal-adocao-usuario>
    </div>
  </div>
</div>
