<nav class="nav flex-column p-3">
  <div class="d-flex flex-column align-items-center justify-content-center text-center">
    <img [src]="perfilPhoto" alt="Foto de perfil" class="avatar">
    <p>Bem vindo <span style="font-weight: bolder;">{{nome}} {{ultimoNome}} !</span></p>
  </div>
  <hr>
  <a class="nav-link color-darkgreen" href="#"><i class="bi bi-bag-heart-fill pe-2"></i>Animais para adoção</a>
  <a class="nav-link color-darkgreen" href="#"><i class="bi bi-balloon-heart-fill pe-2"></i>Animais Adotados</a>
  <a class="nav-link color-darkgreen" href="#"><i class="bi bi-pencil-square pe-2"></i>Editar perfil</a>
  <hr>
  <a class="nav-link color-darkgreen" (click)="saidaUsuario()"><i class="bi bi-box-arrow-right pe-2"></i>Sair</a>
</nav>
