.avatar {
  height: 100px;
  width: 100px;
}

.nav-link:hover {
  background-color: #93C390;
  color: #F2F2F2;
  border-radius: 10px;
}

nav {
  background-color: #F2F2F2;
}

.navbar {
  align-items: start;
}

.active {
  color: white !important;
  border-radius: 10px;
  background-color: #93C390;
}
