.card-img-top {
  position: absolute;
  top: -100px;
  left: 20%;
  width: 200px !important;
  height: 200px;
  object-fit: cover;
  border: 5px solid #5fba5b;
  background-color: white;
}

.card-body {
  margin-top: 110px;
}

.card {
  margin: 100px 10px 10px 0px;
}

.card-text {
  text-align: justify;
}

.bg-carinho {
  background-color: #A65E58;
}

.bg-sociavel {
  background-color: #BFA393;
}

.bg-brincadeira {
  background-color: #1F598C;
}
